* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.MainContainer {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Link {
    margin: 10px;
    padding: 10px;
    width: 225px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;

    background-color: lightblue;
    transition: 0.3s;
}

.Link:hover {
    transform: scale(1.1);
    background-color: lightskyblue;

}

.Link.Red {
    background-color: lightcoral;
}

.Link.Red:hover {
    transform: scale(1.1);
    background-color: rgb(236, 100, 100);
}